body {
    margin: 0px;
}
#container {
    background-image: url(images/cherry-blossom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
h2 {
    margin-top: 0px;
    margin-bottom: 15px;
}
h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}
button {
    margin-bottom: 5px;
}
.error {
    color: darkred;
}
.italic {
    font-style: italic;
}
.todo-item {
    padding: 3px;
}
.todo-item:hover {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.todo-title {
    font-size: 1.2rem;
    margin-left: 7px;
    float: left;
}
.todo-title:hover {
    color: #C02C2A;
    cursor: pointer;
}
.complete-button {
    width: 23px;
    height: 24px;
    background-image: url(images/buttons-sprite.jpg);
    background-size: cover;
    background-position: left;
    float: left;
    border-radius: 100px;
}
.complete-button:hover {
    box-shadow: 0px .5px 1px 1px #888;
    cursor: pointer;
}
.delete-button {
    width: 23px;
    height: 24px;
    background-image: url(images/buttons-sprite.jpg);
    background-size: cover;
    background-position: right;
    float: right;
    border-radius: 100px;
}
.delete-button:hover {
    box-shadow: 0px .5px 1px 1px #888;
    cursor: pointer;
}

.input-button {
    font-size: .9rem;
}
.input-button:hover {
    background-color: #eee; 
    cursor: pointer;
}
.input {
    margin-bottom: 10px;
    font-size: 1rem;
}
.radio:hover {
    cursor: pointer;
}


.clear {
	clear: both;
}
.std-container {
    max-width: 600px;
    margin: 75px auto;
    background-color: #FBFAF6;
    box-shadow: 0px .5px 1px 1px #888;
    padding: 15px;
}
.fix {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#complete {
    display: none;
}
#completed-toggle:hover {
    cursor: pointer;
}

#submission-form {
    font-size: 1.1rem;
}
#save-button {
    width: 75px;
}

#creation-wrapper {
    padding: 3px;
}
#create-button {
    width: 23px;
    height: 23px;
    float: left;
    background-image: url(images/plus-sign.png);
    background-size: cover;
    background-position: left;
}
#create-button:hover {
    cursor: pointer;
    box-shadow: 0px .5px 1px 1px #888;
    background-color: #7ec0ee;
    border-radius: 2px;
}
#title-input {
    float: left;
    width: calc(100% - 55px);
    height: 23px;
    margin-left: 7px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

#opaque-background {
    display: none;
    background-color: #000;
    opacity: .75;
}
#log-display-btn:hover {
    cursor: pointer;
    color: #C02C2A;
}
#reg-display-btn:hover {
    cursor: pointer;
    color: #C02C2A;
}
#log-form>input {
    width: 95%;
    font-size: .9rem;
}
#reg-form>input {
    width: 95%;
    font-size: .9rem;
}

#welcome {
    display: none;
    margin: 0px auto;
    padding: 15px;
}
#welcome>h2 {
    margin-bottom: 0px;
}
