body {
   background-color: black;
   color: white;
}

button {
    color: white;
    background-color: black;
}

.door-number {
    font-family: sans-serif;
    font-size: 7rem;
    margin: 0px;
    text-shadow: -.5px 0 grey, 0 .5px grey, .5px 0 grey, 0 -.5px grey;
    color: black;
    text-align: center;
}

.clear {
	clear: both;
}
.one-third {
	width: calc(100%/3);
	float: left;
}
.one-half {
    width: calc(100%/2);
    float: left;
}
.one-fourth {
    width: calc(100%/4);
    float: left;
}

.door {
    background-image: url('images/door.png');
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: left;
    transition: all 0.5s ease-in-out;
}
.door-open
{
    transform: perspective(1200px)
    translateZ(0px) translateX(0px)
    translateY(0px) rotateY(-80deg);
}
.money, .alien, .door {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
}
.money {
    background-image: url("images/money.jpg");
}
.alien {
    background-image: url("images/black-hole.jpg");
}

.door-area {
    height: 300px;
	width: 200px;
    border-top: 6px solid #584539;
    border-right: 6px solid #62524B;
    border-left: 6px solid #3C2E25;
    border-bottom: 6px solid #806D62;
    position:relative;
    background-color: black;
}
.door-area img {
    height: inherit;
}

#statistics {
    margin-bottom: 25px;
}
#game-area {
    background-image: url('https://cdn.pixabay.com/photo/2014/12/28/13/00/curtain-581826_960_720.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px auto;
    border: 6px solid #88090B;
    padding: 15px;
}
#game-rules {
    margin-bottom: 25px;
    margin-top: 25px;
}
#door-area1 {
	float: right;
}
#door-area2 {
	margin: 0 auto;
}
#door-area3 {
	float: left;
}

#announcements {
    font-size: 2rem;
    margin: 25px auto;
    text-align: center;
}

#graph {
    width: 100%;
    height: 200px;
}
#stayed-bars {
    height: 100%;
    position: relative;
}
#switched-bars {
    height: 100%;
    position: relative;
}
#bar-switch-win {
    background-color: #FFF11B;
    position: absolute;
    bottom: 0;
}
#bar-switch-lose {
    background-color: #88090B;
    position: absolute;
    bottom: 0;
    left: calc(100%/2);
}
#bar-stay-win {
    background-color: #FFF11B;
    position: absolute;
    bottom: 0;
}
#bar-stay-lose {
    background-color: #88090B;
    position: absolute;
    bottom: 0;
    left: calc(100%/2);
}