body {
   background-color: #33266E;
   margin: 0px;
}
button {
    background-color: #806543;
    border-color: #806543;
    font-size: 1.7rem;
    color:black;
    margin-top: 15px;
}

.clear {
	clear: both;
}
.one-third {
	width: calc(100%/3);
	float: left;
}
.one-half {
    width: calc(100%/2);
    float: left;
}

.door-number {
    font-size: 7rem;
    color: black;
    text-align: center;
}
.door-open
{
    transform: perspective(1200px)
    translateZ(0px) translateX(0px)
    translateY(0px) rotateY(-80deg);
}
.money, .alien, .door {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
}
.door {
    background-image: url('images/door.png');
    width: 101%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: left;
    transition: all 0.5s ease-in-out;
}
.money {
    background-image: url("images/money.jpg");
}
.alien {
    background-image: url("images/black-hole.jpg");
}
.container {
    background-color: #111111;
    border-bottom: 25px solid #33266E;
    padding: 15px 0px;
    color: white;
}
.banner {
    background-color: #806543;
    color: black;
    margin-bottom: 15px;
    font-size: 2rem;
    padding-left: 5px;
}

.door-area {
    height: 300px;
	width: 200px;
    border-top: 6px solid #584539;
    border-right: 6px solid #62524B;
    border-left: 6px solid #3C2E25;
    border-bottom: 6px solid #806D62;
    position:relative;
    background-color: black;
}

#game-rules {
    padding: 0px 15px;
}
#door-area1 {
	float: right;
}
#door-area2 {
	margin: 0 auto;
}
#door-area3 {
	float: left;
}

.graph {
    height: 250px;
    padding: 0px 5px;
}
.graph > div {
    height: 100%;
    position: relative;
}
.graph > div div {
    color:black;
    position: absolute;
    bottom: 0;
    min-height: fit-content;
}
.bar-win {
    background-color: #A6607C;
}
.bar-lose {
    background-color: #542F34;
    left: calc(100%/2);
}